.header_layout{
    position: fixed;
    z-index: 3;
    width: 100%;
}
.content_layout{
    height: 100%;
}
.bigLeftBar{
    height: 100%;
}
/* .leftBar {
  position: fixed;
  
  height: 100%;
  z-index: 3;
} */
.leftbar{
    position: fixed;
    width: 172px;
    height: 100%;
    z-index: 3;
}

@media screen and (max-width: 992px){
    .leftbar{
        display: none;
    }
}
@media screen and (max-width: 576px){
    .leftbar{
        display: none;
    }
}

